.header {
    height: 237px;
    border-bottom: 1px solid gray;
}

.header,
.sidebar {
    padding: 1rem;
    background-color: #ebebeb;
}

.flex {
    display: flex;
}

.sidebar {
    min-width: 16.6875rem;
}

.card-grid {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-gap: 0.9375rem;
}

.card-container {
    border-radius: 1rem;
    box-shadow: 0 0 25px rgb(0 0 0 / 13%);
    overflow: hidden;
}

.card-container .card-top {
    position: relative;
}

.card-container .card-top .image-top .classification {
    margin: 0.625rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 0.5rem;
    background-color: #3f3a50;
    color: #ffffff;
    font-size: 1rem;
}

.card-container .card-top .image-top .button-container {
    margin-right: 0.625rem;
    display: flex;
    align-items: center;
}

.card-container .card-top .image-top .button-container p {
    margin-right: 0.3125rem;
    color: #ffffff;
}

.card-container .card-top .image-top .button-container button {
    width: 2rem;
    height: 1.5rem;
    margin-left: 0.3125rem;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 0.5rem;
    background-color: #3f3a50;
}

.card-container .card-top .image-top .button-container button img {
    width: 0.5rem;
    height: 0.5rem;
}

.card-container .card-top .tags {
    position: absolute;
    bottom: 0;
    display: flex;
}

.card-container .card-top .tags p {
    margin-left: 0.625rem;
    padding: 0.0625rem 0.625rem;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 0.5rem;
    background-color: #3f3a50;
    color: #ffffff;
    font-size: .75rem;
    white-space: nowrap;
}

.card-container .card-top .card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    -o-object-fit: cover;
}

.card-container .card-bottom {
    padding: 0.625rem;
}

.card-container .card-bottom .title-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-container .card-bottom .title-container .title-left h3 {
    max-width: 98%;
    margin: 0 0 0.3125rem 0;
    font-size: 1rem;
    font-weight: 400;
}

.card-container .card-bottom .title-container .title-left p {
    margin: 0;
    color: #55595d;
    font-size: .75rem;
    font-weight: 300;
}

.card-container .card-bottom .title-container img {
    cursor: pointer;
}

.card-container .card-bottom .price {
    margin: 0.625rem 0 0.3125rem 0;
    font-size: 20px;
    font-weight: 700;
}

.card-container .card-bottom .price-when-new {
    margin: 0;
    font-size: .75rem;
}

.image-top {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

